*.Xil
*~
~*
*.log
*.jou
*.str
*.swp
*.swo
*cache
*gen
*hw
*ip_user_files
*sim
*runs
*srcs
*tmp
*.zip
*.xpr
*.xsa
*.o
NA
Xilinx/SW_Source/ofdm/ofdm
Xilinx/SW_Source/ofdm/ofdm_desktop
log.txt
bitfiles
*.BIN
*.orig
*.dmp
*.asv
Xilinx/SW_Source/ofdm_v2/ofdm_desktop
Xilinx/SW_Source/ofdm_v2/ofdm
